.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 1rem;
}

.blockSkills {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  div {
    width: 8px;
    height: 8px;
    background: green;
    border-radius: 50%;
  }
}

.skillContainer {
  position: relative;
}

.toggleButton {
  border: none;

  .arrowUp,
  .arrowDown {
    border: none;
  }

  .arrowDown {
    transform: rotate(90deg);
  }

  .arrowUp {
    transform: rotate(-90deg);
  }
}

.active {
  background: #8de3db !important;
  cursor: pointer;
}

.questionList {
  display: flex;
  flex-direction: column;
  max-height: 500px;
}
