.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 1rem;
}

.blockSkills {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  div {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  div {
    width: 8px;
    height: 8px;
    background: green;
    border-radius: 50%;
  }
}

.toggleButton {
  border: none;

  .arrowUp,
  .arrowDown {
    border: none;
  }

  .arrowDown {
    transform: rotate(90deg);
  }

  .arrowUp {
    transform: rotate(-90deg);
  }
}

.active {
  background: #8de3db;
  cursor: pointer;
}

.skillTextArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
