@import 'src/constants&mixins';

.MyInterviewsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}

.NewInterviewBlock {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 8px;
  border: 1px solid #00ffff;
  border-radius: 8px;

  .Link {
    color: #000000;
    text-decoration: none;
  }
}

.closeButton {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.InterviewScheduler {
  position: absolute;
  top: 15%;
  right: -20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 8px;
  border: 1px solid #00ffff;
  border-radius: 8px;
}

.interviewList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 34.375rem;
  overflow-y: scroll;

  div {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.test-style {
  @include secondary-button;

  background-color: $medium-purple;
  border-radius: 3px;
}

.interviewTable {
  display: flex;
  flex-direction: column;
  min-height: 39rem;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: $white;
  }

  ::-webkit-scrollbar-thumb {
    width: 5px;
    background: $medium-purple;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $primary-purple;
  }

  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: none;

    &:last-child td {
      border-bottom: none;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    max-height: 34.8rem;
    overflow-y: scroll;

    tr {
      border: 1px solid $primary-purple;
      border-top: none;
    }
  }

  .interviewTableHeader {
    width: 100%;
    background-color: $light-purple;
    border: 1px solid $primary-purple;
    border-radius: 10px 10px 0 0;
    border-collapse: separate;
    border-spacing: 0;

    tr {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    th {
      padding: 1rem;
    }
  }
}
