.userProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #242424;
}

.rolesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
