@import '/src/utils/constants&mixins';

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.schedulerCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  overflow: hidden;
}

.schedulerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8DE3DB;
  height: 3rem;
}

.schedulerBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
