$primary-purple: #574997;
$medium-purple: #8380b6;
$light-purple: #c2cae8;
$cyan: #8de3db;
$dark-blue: #0f172a;
$text-color: #0f172a;
$secondary-text: #697077;
$white: #ffffff;
$gray: rgb(15 23 41 / 20%);
$small-border-radius: 2px;
$large-border-radius: 20px;
$small-border: 1px solid $medium-purple;
$large-border: 3px solid $primary-purple;

@mixin info-text {
  margin: 0;
  color: #636b74;
  font-size: 0.75rem;
}

@mixin primary-button {
  width: 100%;
  padding: 0.562rem 0.718rem;
  background: $primary-purple;
  border: 2px solid $primary-purple;
  border-radius: 4px;
  cursor: pointer;

  &,
  & * {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background: transparent;

    &,
    & * {
      color: $text-color;
    }
  }

  &:disabled {
    background: $gray;
    border: 1px solid $gray;
  }
}

@mixin simple-button {
  width: 100%;
  padding: 0.562rem 0.718rem;
  background: $dark-blue;
  border: 1px solid $dark-blue;
  border-radius: 4px;
  cursor: pointer;

  &,
  & * {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background: transparent;

    &,
    & * {
      color: $text-color;
    }
  }

  &:disabled {
    background: $gray;
    border: 1px solid $gray;
  }
}

@mixin secondary-button {
  width: 100%;
  padding: 0.562rem 0.718rem;
  background: $white;
  border: 1px solid $primary-purple;
  border-radius: 4px;
  cursor: pointer;

  &,
  & * {
    color: $text-color;
    text-decoration: none;
  }

  &:hover {
    background: $light-purple;
    border: 1px solid $light-purple;

    &,
    & * {
      color: $white;
    }
  }

  &:disabled {
    background: $gray;
    border: 1px solid $gray;
  }
}
