@import './reset';
@import 'constants&mixins';

#root {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h4,
h5,
h6,
p,
td,
button {
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

h1 {
  font-weight: 400;
  font-family: 'Days one', sans-serif;
  text-transform: uppercase;
}

a {
  color: $text-color;
  text-decoration: none;
}

h2,
h3 {
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
